.stand {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 90px
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: start;
    min-width: 176px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
